.fullscreen h1.title {
        margin-bottom: 0;
        letter-spacing: 2px;
}
.undertitle {
        font-style: italic;
}
.box-container p {
        font-size: 18px;
        margin-bottom: 0.2em;
}
.info-button {
        cursor: pointer;
}
.info-container {
        padding-left: 2.5em;
}
.btn {
        border-radius: 0;
}

@media (max-width: 550px) {
        .info-container {
                padding-left: 0;
        }
}
